SEXYLUA_STORAGE_DRIVER=json
SEXYLUA_BASE_URL=
SEXYLUA_TIMEZONE=America/Sao_Paulo
SEXYLUA_PORT=8088

SEXYLUA_PG_DSN=pgsql:host=127.0.0.1;port=5432;dbname=sexylua
SEXYLUA_PG_USER=postgres
SEXYLUA_PG_PASSWORD=
SEXYLUA_PG_SCHEMA=public
SEXYLUA_PG_COLLECTIONS_TABLE=app_collections

SEXYLUA_RTC_STUN_URLS=stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302
SEXYLUA_RTC_TURN_URLS=
SEXYLUA_RTC_TURN_USERNAME=
SEXYLUA_RTC_TURN_CREDENTIAL=
SEXYLUA_RTC_ICE_TRANSPORT_POLICY=all

SEXYLUA_SYNCPAY_API_BASE_URL=https://api.syncpayments.com.br
SEXYLUA_SYNCPAY_CLIENT_ID=
SEXYLUA_SYNCPAY_CLIENT_SECRET=
SEXYLUA_SYNCPAY_API_KEY=
SEXYLUA_SYNCPAY_WEBHOOK_TOKEN=
SEXYLUA_SYNCPAY_PIX_EXPIRES_IN_DAYS=2
