SEXYLUA_STORAGE_DRIVER=json
SEXYLUA_BASE_URL=
SEXYLUA_TIMEZONE=America/Sao_Paulo
SEXYLUA_PORT=8088
SEXYLUA_PG_DSN=pgsql:host=127.0.0.1;port=5432;dbname=sexylua
SEXYLUA_PG_USER=postgres
SEXYLUA_PG_PASSWORD=
SEXYLUA_PG_SCHEMA=public
SEXYLUA_PG_COLLECTIONS_TABLE=app_collections
