.env
.env.local
.env.*.local
vendor/
node_modules/
.idea/
.vscode/
*.log
*.tmp
*.cache
cookies_*.txt
storage/*.txt
storage/*.log
storage/tmp/
Visual.zip
_backups/
storage/private/
storage/data/*.json
!storage/data/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
storage/tools/mediamtx/logs/
storage/tools/mediamtx/mediamtx.exe
storage/tools/mediamtx/mediamtx.yml
storage/tools/mediamtx/LICENSE
!storage/tools/mediamtx/sexylua-mediamtx.yml
