.env
.env.local
.env.*.local
vendor/
node_modules/
.idea/
.vscode/
*.log
*.tmp
*.cache
cookies_*.txt
storage/*.txt
storage/*.log
storage/tmp/
Visual.zip
storage/data/*.json
!storage/data/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
